font-family: 'Abril Fatface', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'League Gothic', sans-serif;
font-family: 'Palette Mosaic', cursive;
font-family: 'Smokum', cursive;

#indiefont{
  font-family: 'Smokum', cursive;
}

#funkfont{
  font-family: 'Palette Mosaic', cursive;
}

#classicfont{
  font-family: 'League Gothic', sans-serif;
}

#rockfont{
  font-family: 'Abril Fatface', cursive;
}
