
<<<<<<< HEAD
=======
.bg-bluetime{
  background-color: rgba(19, 44, 140, 1);
}

.img-fluid{
  padding: 40px;
}

>>>>>>> 62754414253498bb116d4df5729c0526dc20a312
.hiphop {
  font-family: 'League Gothic', sans-serif;
}
.clsc-hiphop {
  font-family: 'Alfa Slab One', cursive;
}
.indie {
  font-family: 'Smokum', cursive;
}
.rock {
  font-family: 'Abril Fatface', cursive;
}
.rnb {
  font-family: 'League Gothic', sans-serif;
}
.funk {
  font-family: 'Palette Mosaic', cursive;
}
body {
  background-color: #E8D3B9;
}
.border-3 {
  border-color: #011638;
}

/* font-family: 'Abril Fatface', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'League Gothic', sans-serif;
font-family: 'Palette Mosaic', cursive;
font-family: 'Smokum', cursive; */
