
.bg-bluetime{
  background-color: rgba(19, 44, 140, 1);
}

.bg-indie {
  background: url(../imgs/testbackground.jpeg) no-repeat center center fixed;
}

.bg-indie2{
  background: rgb(239,199,194);
  background: linear-gradient(223deg, rgba(239,199,194,1) 0%, rgba(255,229,212,1) 26%, rgba(191,211,193,1) 51%, rgba(104,166,145,1) 74%, rgba(98,156,215,1) 95%);
}

.bg-rock2{
  background: rgb(20,20,20);
  background: linear-gradient(0deg, rgba(20,20,20,0) 0%, rgba(255,237,194,1) 0%, rgba(167,28,28,1) 100%, rgba(196,198,231,0) 100%);
}
.img-fluid{
  padding: 40px;
}


.verybigtext{
  font-size: 90px;
}

.hiphop {
  font-family: 'League Gothic', sans-serif;
}
.clsc-hiphop {
  font-family: 'Alfa Slab One', cursive;
}
.indie {
  font-family: 'Smokum', cursive;
  font-size: 60px;
}
.rock {
  font-family: 'Abril Fatface', cursive;
}
.rnb {
  font-family: 'League Gothic', sans-serif;
}
.funk {
  font-family: 'Palette Mosaic', cursive;
}
.home {
  font-family: 'Rajdhani', sans-serif;
}
body {
  background-color: #E8D3B9;
}
.border-3 {
  border-color: #011638;
}

/* font-family: 'Abril Fatface', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'League Gothic', sans-serif;
font-family: 'Palette Mosaic', cursive;
font-family: 'Smokum', cursive; */
